[Desktop Entry]
Version=1.0
Name=Lamysys Autostart Daemon
Exec=/usr/share/runmysys/lookformounted.sh
Comment=Runs background check if a medium with runmysys config is available
Icon=gtk-save
Terminal=false
Type=Application
Name[de_DE]=runmysysautostart
